[submodule "homework4/lib/forge-std"]
	path = homework4/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "homework5/lib/forge-std"]
	path = homework5/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
